<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="#">

    <title>evaluate-news-nlp-main</title>
</head>

<body>

    <header>
        <div>
            Logo
        </div>
        <div>
            navigation
        </div>
    </header>

    <main>
        <section>
            <form id="urlForm">
                <input id="name" type="text" name="url" placeholder="Enter URL" required>
                <button id="submitButton" type="submit">Submit</button>
            </form>

        </section>
        <div id="error"></div>
        <section>
            <strong>Form Results:</strong>
            <div id="results">
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script src="bundle.js"></script>
</body>

</html>